// Variables
$main-color: #FF6060;
$drop-bg-color: rgba(246, 246, 246, 0.45);
$main-radius: 25px;
$item-radius: 10px;
$content-margin: 0 100px;
$banner-height: 223px;
$slider-height: 415px;

// Mixins
@mixin text-style($color, $weight, $size) {
    color: $color;
    font-weight: $weight;
    font-size: $size;
    line-height: 142.6%;
}

@mixin image-fit($size) {
    object-fit: cover;
    width: $size; height: $size;
}

@mixin absolute-position($height) {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: $height;
    box-sizing: border-box;
}

@mixin header-display($padding) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding;
}

@mixin banner-params($position, $height, $justify) {
    position: $position;
    width: 100%; height: $height;
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin banner-layer($justify) {
    @include banner-params(absolute, 100%, $justify);
}

@mixin banner-display($height) {
    @include banner-params(relative, $height, center);
    border-radius: $main-radius;
    overflow: hidden;
}

@mixin banner-shade($percent) {
    .banner__image {
        filter: brightness($percent);
    }
}

@mixin drop-transition($property) {
    transition: $property 400ms ease-in-out;
}