$main-color: #FF6060;
$drop-bg-color: rgba(246, 246, 246, 0.45);

$block-radius: 25px;
$item-radius: 10px;
$small-item-radius: 5px;

$mobile-banner-height: 111px;
$banner-height: 223px;

$mobile-slider-height: 255px;
$slider-height: 415px;