@use "/src/styles/parameters" as p;

// Reset CSS
body, h1, h2, p, figure, button, ul {
    padding: 0;
    margin: 0;
}

button {
    border: none;
}

ul {
    list-style-type: none;
}

// Global styles
body {
    font-family: "Montserrat";
}

main {
    margin: p.$content-margin;
}