@use "/src/styles/parameters" as p;

.host-card {
    max-width: 196px;
    display: flex;
    align-items: center;
    gap: 10px;

    &__name {
        @include p.text-style(p.$main-color, 500, 18px);
        text-align: end;
    }

    &__avatar {
        @include p.image-fit(64px);
        border-radius: 50%;
    }
}